body{
  background-color: #b883ff;
}
.navbar{
    display: flex;
    width: 100vw;
    height: 7vh;
    align-items: center;
}
.logo{
    display: flex;
    height: 100%;
    width: 9vw;
    margin-right: 6vw;
    justify-content: center;
    background-color: #9749ff;
    margin-left: 1vw;
    border-radius: 75px;
    padding-right: 1vw;
}
.logo:hover{
    scale: 1.03;
    filter: saturate(2);
}
.logo h1{
    color: white;
    font-size: 150%;
    text-decoration: none;
}
.logo img{
    height: 100%;
}
.searchbar{
    display: flex;
    width: 70vw;
    height: 100%;
    color: black;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.searchbar .text {
     height: 70%;
     width: 90%;
     background-color: #e3cfff;
     color: #9749ff;
     border: none;
     border-radius: 5px;
     font-size: 2vh;
     font-weight: bold;
     padding-left: 10px;
}
.searchbar .text ::placeholder{
    color: #9d93ab;
}

.searchbar .button {
     height: 70%;
     width: 3%;
     background-color: #9749ff;
     border: none;
     border-radius: 5px;
     background-image: url("/img/magnifying glass.svg");
     background-repeat: no-repeat;
     background-position: center;
}
.searchbar .button:hover{
    scale: 1.03;
    filter: saturate(2);
}
.user{
    display: flex;
    height: 70%;
    width: 7vw;
    background-color: #e3cfff;
    border-radius: 100px;
}
.user:hover{
    scale: 1.03;
    filter: saturate(2);
}
.user div{
    width: 5vw;
    font-size: 70%;
    color: #9749ff;
    margin-left: 4%;
}
.user img{
    height: 80%;
    border-radius: 100px;
    border: 5px solid #9749ff;
}

.purchases{
    display: flex;
    height: 70%;
    width: 2.3vw;
    margin-left: 2.7vw;
    background-repeat: no-repeat;
    background-color: #9749ff;
    background-image: url("/img/chat.svg");
    border-radius: 10px;
}

.footer{
    margin-left: -8px;
    display: flex;
    justify-content: center;
    padding: 1vh 0 10vh 0;
    gap: 10vw;
    width: 100vw;
    background-color: #e3cfff;
    text-align: center;
}
.footer div a{
    text-decoration: none;
    color: black;
}
form{
    background-color: #e3cfff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    padding: 50px;
    margin: 0 0 10vh 0;
}

.login{
    height: 70%;
    width: 95%;
    background-color: #e3cfff;
    color: #9749ff;
    border: 3px solid #9749ff;
    border-radius: 5px;
    font-size: 2vh;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 4vh;
}

button{
    display: flex;
    margin-left: 15%;
    justify-content: center;
    background-color: #9749ff;
    color: #e3cfff;
    border-radius: 25px;
    border: none;
    width: 70%;
    padding: 15px 0 15px 0;
    font-weight: bold;
    margin-bottom: 2vh;
}

.authicons, .authicons img{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.authicons a{
    width: 10%;
}
.authicons a:hover{
    scale: 1.1;
}
.tiny{
    font-size: x-small;
    width: 100%;
    text-align: center;
}
.bigcenterlogo{
    display: flex;
    width: 15vw;
    justify-content: center;
    background-color: #9749ff;
    border-radius: 75px;
    padding-right: 1vw;
    align-items: center;
    gap: 1vw;
    margin: 5vh 0 5vh 0;
}
.bigcenterlogo:hover{
    scale: 1.03;
    filter: saturate(2);
}
.bigcenterlogo h1{
    color: white;
    font-size: 200%;
    text-decoration: none;
}
.bigcenterlogo img{
    width: 5vw;
}
#body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#body div{
    display: flex;
}